{% extends 'layout.html' %}
{% block content %}

</br>
<div class="container col-sm-3 text-center">
    {% if categorias %}
        <link rel="stylesheet" href="../static/css/custom.css">
        {% for categoria in categorias %}
            <h2 class="text-center">Editar Categoria: {{categoria.0}} </h2>
        {% endfor %}
    {% else %}
        <h2 class="text-center">Crear Categoria</h2>
    {% endif %}
    </br>
    <form class="conteiner" method="POST">
        <div class="box-body">
            <div class="form-group">
                <label for= 'nombre' class="col-md-2  control-label">Categoria:</label>
                <div class="col-md-6 mt-2 input-group">
                        <input class="form-control" type='text' name='categoria_name' {% for categoria in categorias %}value="{{categoria.0}}"{% endfor %}/>
                    
                    </input>
                </div>
            </div>
            
            </br>
        <input class="btn btn-primary" type='submit' value='Guardar'>
        
                       
    </form>
</div>
{% endblock content %}